[Desktop Entry]
Type=Application
Version=0.4
Name=MScSim
GenericName=Flight Simulator
Exec=mscsim
Terminal=false
Categories=Game;Simulation
Comment=open-source flight simulator
Keywords=
Icon=mscsim
