<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

  <Bundle
    Name="MScSim"
    Version="0.4"
    UpgradeCode="{7f01de83-b2ea-4a25-b76e-4703448a36c4}">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="LICENSE.rtf"
    LogoFile="mscsim.png"
    ShowVersion="yes" />
  </BootstrapperApplicationRef>
    
    <Chain>

      <PackageGroupRef Id="OpenAL"/>
      <MsiPackage SourceFile="mscsim-0.4-win64.msi" />

    </Chain>
  
  </Bundle>
  
  <Fragment>
  
    <PackageGroup Id="OpenAL">
      <ExePackage
        SourceFile="oalinst.exe"
        DetectCondition="ExeDetectedVariable"
        InstallCommand="/q /ACTION=Install"
        RepairCommand="/q ACTION=Repair /hideconsole"
        UninstallCommand="/q ACTION=Uninstall /hideconsole" />
    </PackageGroup>
  
  </Fragment>

</Wix>
