<?xml version="1.0"?>
<Wix
  xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product
    Id="{b3e39794-6324-4e30-88f9-02a84e6b7268}" 
    Name="MScSim"
    Language="1033"
    Version="0.3"
    Manufacturer="Marek Cel" 
    UpgradeCode="{09fb11a8-4e61-476f-a897-2fe6f6d781d5}">
        
    <Package
      Description="MScSim Windows Installer Package"
      Manufacturer="Marek Cel (marekcel.pl)"
      InstallerVersion="300"
      Compressed="yes" />

    <Media Id="1" Cabinet="mscsim.cab" EmbedCab="yes" />
    
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />

    <Directory Id="TARGETDIR" Name="SourceDir">
    
      <!-- Visual C++ 2008 Redistributable Merge Module -->
      <Merge Id="VCRedist" SourceFile="Microsoft_VC90_CRT_x86.msm" DiskId="1" Language="0"/>
      
      <!-- installation dir -->
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="dir_mscsim" Name="MScSim">
          <Directory Id="dir_mscsim_bin" Name="bin">
          
            <!-- sim.exe -->
            <Component Id="dir_mscsim_mscsim" Guid="{fd4685ff-e47f-4d7f-8701-7af5b30842be}">
              <File Id="dir_mscsim_mscsim_exe" Name="mscsim.exe" DiskId="1" Source="bin\mscsim.exe" />
            </Component>
          
          </Directory>
        </Directory>
      </Directory>
            
      <!-- start menu shortcuts -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="MscSim">
          <Component Id="menu_shortcuts" Guid="{161e5841-d82a-4ec8-94d5-248edb1afe1e}">
            <Shortcut
              Id="menu_sim" 
              Name="MScSim" 
              Icon="mscsim_ico"
              Description="MScSim Flight Simulator"
              Target="[dir_mscsim_bin]\mscsim.exe"
              WorkingDirectory="dir_mscsim_bin" />
            <Shortcut
              Id="menu_unistall"
              Name="Uninstall MScSim"
              Target="[SystemFolder]msiexec.exe"
              Arguments="/x [ProductCode]"
              Description="Uninstall" />
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
      
    </Directory>

    <!-- main program -->
    <Feature Id="mscsim_main" Title="MScSim" Level="1">
    <ComponentGroupRef Id="cg_mscsim_alut" /> <!-- ALUT libs -->
      <ComponentGroupRef Id="cg_mscsim_data" /> <!-- data -->
      <ComponentGroupRef Id="cg_mscsim_osg" />  <!-- OSG libs -->
      <ComponentGroupRef Id="cg_mscsim_qt" />   <!-- Qt libs -->
      
      <ComponentRef Id="dir_mscsim_mscsim" />   <!-- mscsim.exe -->

      <ComponentRef Id="menu_shortcuts" />      <!-- start menu shortcuts -->      
    </Feature>
    
    <!-- Visual C++ 2008 Redistributable Merge Module -->
    <Feature Id="VCRedist" Title="Visual C++ 8.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist"/>
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="dir_mscsim" />
    <UIRef Id="WixUI_InstallDir" />
    
    <Icon Id="mscsim_ico" SourceFile="mscsim.ico" />
    
  </Product>
</Wix>
