<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <Fragment>
    <DirectoryRef Id="dir_mscsim">
      <Component Id="dir_mscsim_qtcore4" Guid="{41566dd9-550b-4226-be33-e964a3b80ea4}">
        <File Id="dir_mscsim_qtcore4_dll" Name="QtCore4.dll" DiskId="1" Source="$(env.QTDIR)\bin\QtCore4.dll" />
      </Component>
      <Component Id="dir_mscsim_qtgui4" Guid="{5f7355f1-d25c-441e-8f47-9514d0ed67da}">
        <File Id="dir_mscsim_qtgui4_dll" Name="QtGui4.dll" DiskId="1" Source="$(env.QTDIR)\bin\QtGui4.dll" />
      </Component>
      <Component Id="dir_mscsim_qtnetwork4" Guid="{712f797c-cf35-4520-b019-9a31b35913b0}">
        <File Id="dir_mscsim_qtnetwork4_dll" Name="QtNetwork4.dll" DiskId="1" Source="$(env.QTDIR)\bin\QtNetwork4.dll" />
      </Component>
      <Component Id="dir_mscsim_qtopengl4" Guid="{44c7a76f-55f9-4a03-9105-769c64bbdb74}">
        <File Id="dir_mscsim_qtopengl4_dll" Name="QtOpenGL4.dll" DiskId="1" Source="$(env.QTDIR)\bin\QtOpenGL4.dll" />
      </Component>
      <Component Id="dir_mscsim_qtsvg4" Guid="{2849cb06-8e4f-4420-88fb-b748e50e0622}">
        <File Id="dir_mscsim_qtsvg4_dll" Name="QtSvg4.dll" DiskId="1" Source="$(env.QTDIR)\bin\QtSvg4.dll" />
      </Component>
      <Component Id="dir_mscsim_qtxml4" Guid="{1d7e1fac-9cb2-4482-a615-29b669bf8597}">
        <File Id="dir_mscsim_qtxml4_dll" Name="QtXml4.dll" DiskId="1" Source="$(env.QTDIR)\bin\QtXml4.dll" />
      </Component>
    </DirectoryRef>
  </Fragment>
  
  <Fragment>
    <ComponentGroup Id="cg_mscsim_qt">
      <ComponentRef Id="dir_mscsim_qtcore4" />
      <ComponentRef Id="dir_mscsim_qtgui4" />
      <ComponentRef Id="dir_mscsim_qtnetwork4" />
      <ComponentRef Id="dir_mscsim_qtopengl4" />
      <ComponentRef Id="dir_mscsim_qtsvg4" />
      <ComponentRef Id="dir_mscsim_qtxml4" />
    </ComponentGroup>
  </Fragment>
  
</Wix>