<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <Fragment>
    <DirectoryRef Id="dir_mscsim">
      <Component Id="dir_mscsim_qtcore4" Guid="{6748003a-93fc-4588-b9ce-da16bb868773}">
        <File Id="dir_mscsim_qtcore4_dll" Name="QtCore4.dll" DiskId="1" Source="$(env.QTDIR)\bin\QtCore4.dll" />
      </Component>
      <Component Id="dir_mscsim_qtgui4" Guid="{a1a7d661-c0cf-499d-be4d-4f57899bf12d}">
        <File Id="dir_mscsim_qtgui4_dll" Name="QtGui4.dll" DiskId="1" Source="$(env.QTDIR)\bin\QtGui4.dll" />
      </Component>
      <Component Id="dir_mscsim_qtnetwork4" Guid="{ac83f137-03ec-4f29-8982-cdcfcea3be01}">
        <File Id="dir_mscsim_qtnetwork4_dll" Name="QtNetwork4.dll" DiskId="1" Source="$(env.QTDIR)\bin\QtNetwork4.dll" />
      </Component>
      <Component Id="dir_mscsim_qtopengl4" Guid="{e193ddbc-f271-4c4f-b67e-7495aab587da}">
        <File Id="dir_mscsim_qtopengl4_dll" Name="QtOpenGL4.dll" DiskId="1" Source="$(env.QTDIR)\bin\QtOpenGL4.dll" />
      </Component>
      <Component Id="dir_mscsim_qtsvg4" Guid="{2ece8b98-f1f3-4608-bbc7-ac49b268e00f}">
        <File Id="dir_mscsim_qtsvg4_dll" Name="QtSvg4.dll" DiskId="1" Source="$(env.QTDIR)\bin\QtSvg4.dll" />
      </Component>
      <Component Id="dir_mscsim_qtxml4" Guid="{c39359e0-9450-467f-a6fc-d19741920a95}">
        <File Id="dir_mscsim_qtxml4_dll" Name="QtXml4.dll" DiskId="1" Source="$(env.QTDIR)\bin\QtXml4.dll" />
      </Component>
    </DirectoryRef>
  </Fragment>
  
  <Fragment>
    <ComponentGroup Id="cg_mscsim_qt">
      <ComponentRef Id="dir_mscsim_qtcore4" />
      <ComponentRef Id="dir_mscsim_qtgui4" />
      <ComponentRef Id="dir_mscsim_qtnetwork4" />
      <ComponentRef Id="dir_mscsim_qtopengl4" />
      <ComponentRef Id="dir_mscsim_qtsvg4" />
      <ComponentRef Id="dir_mscsim_qtxml4" />
    </ComponentGroup>
  </Fragment>
  
</Wix>